<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.groupware.api.common.mapper.UserSealMapper">

    <sql id="selectFrom">
        SELECT
            `seal`.`id`,
            `seal`.`user_id`,
            `seal`.`seal_image`,
            `seal`.`sign_image`
        FROM
            `tb_seal` `seal`
    </sql>

    <sql id="where">
    </sql>

    <resultMap id="userSealResultMap" type ="kr.co.metasoft.groupware.api.common.entity.UserSealEntity" >
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="sealImage" column="seal_image" jdbcType="BLOB" javaType="byte[]" />
        <result property="signImage" column="sign_image" jdbcType="BLOB" javaType="byte[]" />
    </resultMap>

    <resultMap id="ImageResultMap" type = "kr.co.metasoft.groupware.api.app.dto.ByteSealImageDto">
        <result property="sealImage" column="seal_image" jdbcType="BLOB" />
        <result property="signImage" column="sign_image" jdbcType="BLOB" />
    </resultMap>




    <select
        id="selectUserSeal"
        parameterType="java.util.Map"
        resultMap="userSealResultMap"
    >
        <include refid="selectFrom" />
        WHERE
            `seal`.`user_id` = #{userId}
    </select>

    <select
        id="selectImageDto"
        parameterType="java.util.Map"
        resultMap="ImageResultMap"
    >
        SELECT
            `seal`.`seal_image`,
            `seal`.`sign_image`
        FROM
            `tb_seal` `seal`
        WHERE
            `seal`.`user_id` = #{userId}
    </select>
</mapper>
