<v-main>
    <v-container class="fill-height">
        <v-row>
            <v-col align="center">
                <v-card max-width="800">
                    <v-card-title>meta-Groupware 회원가입</v-card-title>
                    <v-card-text>
                        <v-form ref="form">
                            <v-row dense>
                                <v-col cols="4">
                                    <v-select
                                        dense
                                        outlined
                                        label="부서(필수)"
                                        hide-details="auto"
                                        :rules="[rules.required]"
                                        :items="select.department.items"
                                        v-model="data.department"
                                    ></v-select>
                                </v-col>
                                <v-col cols="4">
                                    <v-select
                                        dense
                                        outlined
                                        label="팀명(필수)"
                                        hide-details="auto"
                                        :rules="[rules.required]"
                                        :items="select.teamName.items"
                                        v-model="data.teamName"
                                    ></v-select>
                                </v-col>
                                <v-col cols="4">
                                    <v-select
                                        dense
                                        outlined
                                        label="직급(필수)"
                                        hide-details="auto"
                                        :rules="[rules.required]"
                                        :items="select.position.items"
                                        v-model="data.position"
                                    ></v-select>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field
                                        dense
                                        outlined
                                        clearable
                                        label="이름(필수)"
                                        :rules="[rules.required]"
                                        hide-details="auto"
                                        v-model="data.person.name"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field
                                        autocomplete="off"
                                        dense
                                        outlined
                                        clearable
                                        label="이메일(필수)"
                                        :rules="[rules.required, rules.email]"
                                        hide-details="auto"
                                        v-model="data.user.email"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field
                                        autocomplete="off"
                                        dense
                                        outlined
                                        clearable
                                        label="아이디(필수)"
                                        :rules="[rules.required]"
                                        hide-details="auto"
                                        v-model="data.user.username"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field
                                        v-if="!data.user.id"
                                        autocomplete="new-password"
                                        dense
                                        outlined
                                        clearable
                                        :type="text.type"
                                        :append-icon="text.icon"
                                        label="비밀번호(필수)"
                                        @click:append="showPassword();"
                                        :rules="[rules.required, rules.password]"
                                        hide-details="auto"
                                        v-model="data.user.password"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                            	<input type="radio" id="user" :value="userTypeCode.user" v-model="picked">
								<label for="user">개인회원</label>
								<input type="radio" id="company_user" :value="userTypeCode.company_user" v-model="picked">
								<label for="company_user">기업회원</label>
								<input type="radio" id="manager" :value="userTypeCode.manager" v-model="picked">
								<label for="manager">관리자</label>
                            </v-row>
                            <v-row dense>
                                <v-col cols="12" class="text-right">
                                    <v-btn
                                        color="primary"
                                        :loading="btn.saveAccount.loading"
                                        @click="saveAccount();"
                                    >회원가입</v-btn>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</v-main>