
<v-container fluid>

      <v-row>
        <v-col cols="12">
            <div class="no-icon">
            <v-expansion-panels
                multiple
                v-model="user.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>사용자 정보 수정하기</v-expansion-panel-header>
                    <v-expansion-panel-content>
                    <v-form
                          ref="form"
                          v-model="user.valid"
                          lazy-validation
                          class="overflow-y-auto"
                          style="max-height: 1500px"
                    >
                     <v-container>
                      <v-row class="ma-0">
                           <v-col
                              cols="10"
                              class="pa-2"
                           >
                            <v-text-field
                                dense
                                outlined
                                label="이름"
                                hide-details="auto"
                                v-model="data.name"
                            ></v-text-field>
                            </v-col>
                           <v-col
                              cols="10"
                              class="pa-2"
                           >
                          <picker-date-picker-component
                              dense
                              outlined
                              label="생년월일"
                              append-icon="mdi-calendar"
                              hide-details="auto"
                              v-model="data.birthDate"
                          ></picker-date-picker-component>
                          </v-col>
                          <v-col
                              cols="10"
                              class="pa-2"
                           >
                           <v-text-field
                              dense
                              outlined
                              label="E-MAIl"
                              hide-details="auto"
                              v-model="data.email"
                           >
                           </v-text-field>
                         </v-col>
                          <v-col
                              cols="10"
                              class="pa-2"
                           >
                           <v-text-field
                              outlined
                              dense
                              label="부서"
                              hide-details="auto"
                              v-model="data.department"
                           >
                           </v-text-field>
                         </v-col>
                          <v-col
                              cols="10"
                              class="pa-2"
                           >
                           <v-text-field
                              outlined
                              dense
                              label="팀명"
                              hide-details="auto"
                              v-model="data.teamName"
                           >
                           </v-text-field>
                         </v-col>
                          <v-col
                              cols="10"
                              class="pa-2"
                           >
                           <v-text-field
                              dense
                              outlined
                              label="직급"
                              hide-details="auto"
                              v-model="data.position"
                           >
                           </v-text-field>
                         </v-col>
                         <v-col
                              cols="10"
                              class="pa-2"
                         >
                             <v-text-field
                                 readonly
                                 dense
                                 outlined
                                 clearable
                                 append-icon="mdi-file-image"
                                 placeholder=" [글로싸인 홈페이지] https://glosign.co.kr/index/signature 에서 생성 가능"
                                 label="싸인"
                                 hide-details="auto"
                                 v-model="dataUpload.signFileName"
                             ></v-text-field>
                         </v-col>
                         <v-col
                             cols="2"
                             class="pa-2"
                         >
                             <v-btn
                                elevation="2"
                                color="success"
                                class="text-none ml-auto"
                                depressed
                                @click="onSignButtonClick"
                             >
                             사진 업로드
                             </v-btn>
                         </v-col>
                         <v-col
                              cols="10"
                              class="pa-2"
                         >
                             <v-text-field
                                 readonly
                                 dense
                                 outlined
                                 clearable
                                 append-icon="mdi-file-image"
                                 placeholder=" [글로싸인 홈페이지] https://glosign.co.kr/index/signature 에서 생성 가능"
                                 label="도장"
                                 hide-details="auto"
                                 v-model="dataUpload.sealFileName"
                             ></v-text-field>
                         </v-col>
                         <v-col
                             cols="2"
                             class="pa-2"
                         >
                             <v-btn
                                elevation="2"
                                color="success"
                                class="text-none ml-auto"
                                depressed
                                @click="onSealButtonClick"
                             >
                             사진 업로드
                             </v-btn>
                         </v-col>
                      </v-row>
                       <v-row>
                            <v-col cols="12" class="text-right">
                            <v-btn
                                class="secondary"
                                @click="profileClear"
                            >초기화</v-btn>
                            <v-btn
                                class="primary"
                                @click="saveProfile"
                            >저장하기</v-btn>
                            </v-col>
                        </v-row>
                        <input
                            ref="signUploader"
                            class="d-none"
                            id="signHiddenFile"
                            type="file"
                            @change="onSignFileChanged"
                        />
                        <input
                            ref="sealUploader"
                            class="d-none"
                            id="sealHiddenFile"
                            type="file"
                            @change="onSealFileChanged"
                        />

                      </v-container>
                     </v-form>
                   </v-expansion-panel-content>
             </v-expansion-panel>
            </v-expansion-panels>
         </div>
        </v-col>
    </v-row>
</v-container>